$colors: (
    pr-red: hsl(0, 48%, 62%),
    pr-cyan: hsl(180, 62%, 55%),
    pr-orange: hsl(34, 97%, 64%),
    pr-blue: hsl(212, 86%, 64%),
    nt-very-dark-blue: hsl(234, 12%, 34%),
    nt-grayish-blue: hsl(229, 6%, 66%),
    nt-very-light-gray: hsl(0, 0%, 98%),
    nt-white: white
);


